        /* Last edit - 1/22/2021 - Font Imports */
        @import url('./CSS/root.css');

        /*
        *, *:after, *:before {
        box-sizing: border-box;
        }
        
        html {
        width: 100%;
        height: 100%;
        overflow: hidden;
        }
        */
        .linkMostFront {
        z-index: 1000 !important;
        }
        
        /* Last edit - 1/23/2021 - Spacing */
        .tabSpace {
        margin-top: 10vh;
        margin-bottom: 10vh;
        }

        /* Last edit - 1/22/2021 - General Display Settings */
        .buccfrontpageLogo {
        width: 25vw;
        margin-top: -3%;
        margin-bottom: 3%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        z-index: 10000;
        }

        .navbarLogo {
        width: 2em;
        margin-right: 1%;
        margin-left: 3%;
        }

        .buttonLogo {
        width: 1em;
        margin-top: 3%;
        }

        .buttonButtonLogo {
        width: 25%;
        margin-top: 3%;
        z-index: 100;
        }

        .navbarDesign {
        position: fixed !important;
        display: inline-block !important;
        z-index: 1000 !important;
        height: 20vh !important;
        width: 100% !important;
        margin-bottom: -20vh !important;
        top: 0 !important;
        border: 3px solid #17bebb !important;
        opacity: .6 !important;
        }

        .navbarDesign:hover {
        opacity: 1 !important;
        border: 0px !important;
        }

        .navbarItem {
        color: var(--plain);
        font-size: var(--linkFontSize);
        text-decoration: none;
        display: inline-block;
        position: relative;
        font-family: var(--mainFont);
        z-index: 100 !important;
        }

        .navbarItem:hover {
        color: var(--plain);
        }

        .navbarItem:after {
        content: '';
        color: var(--main) !important;
        position: absolute;
        left: 0;
        display: inline-block;
        height: 1em;
        width: 100%;
        border-bottom: 1px solid;
        margin-top: 10px;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(0,1);
        transform: scale(0,1);
        }

        .navbarItem:hover:after {
        color: var(--hover) !important;
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        }

        .navbarText:hover {
        font-style: italic !important;
        }

        /* Last edit - 1/22/2021 -
         HEADER & NAVBAR */
        .navbarDesign {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1) !important;
        height: var(--smallTab) !important;
        }

        .navbarDesign:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
        }

        .navbarDesign { 
        display: inline-block;
        z-index: 0 !important;
        margin: 0;
        text-transform: uppercase;
        background: var(--main) !important;
        }

        .navbarDesign:after {
        height: 3vw !important;
        content: '';
        position: absolute;
        left: 0;
        display: inline-block;
        width: 100%;
        border-bottom: .7vh solid;
        color: var(--hover);
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(0,1);
        transform: scale(0,1);
        }

        .navbarDesign:hover:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        }

        .downArrow {
        width: 2vw;
        z-index: 100;
        position: fixed;
        margin-bottom: -5% !important;
        margin-left: -1% !important;
        }

        .upArrow {
        width: 2vw;
        z-index: 100;
        position: fixed;
        margin-top: -5% !important;
        }

        /* Last edit - 1/22/2021 -
         TITLES */
        .mainTitle {
        color: var(--ternary);
        font-size: 3em;
        font-family: var(--header);
        font-weight: 900;
        text-transform: uppercase;
        text-shadow: 0 1px 0 #c9cfce,0 2px 0 #bcc2c2,0 3px 0 #afb6b6,0 4px 0 #a4adac,0 5px 0 #9fa8a7,0 6px 0 #99a3a2,0 7px 0 #97a1a0,0 8px 0 #949e9d,0 0 5px rgba(0,0,0,.05),0 1px 3px rgba(0,0,0,.2),0 3px 5px rgba(0,0,0,.2),0 5px 10px rgba(0,0,0,.2),0 10px 10px rgba(0,0,0,.2),0 20px 20px rgba(0,0,0,.3);
        letter-spacing: 3px;
        opacity: 1;
        }

        .Subtitle {
        font-size: 2em;
        font-family: var(--titleFont);
        background: 
        -webkit-linear-gradient(
        left, 
        var(--main) 0%,
        var(--ternary) 24%, 
        var(--main) 36%,
        var(--ternary) 46%,
        var(--main) 52%,
        var(--ternary) 58%,
        var(--main) 67%,
        var(--ternary) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 300%;
        animation: font-shine 20s infinite linear;
        opacity: .6;
        }

        .Subtitle:hover {
        opacity: 1;
        }

        @keyframes font-shine {
        0% {background-position: 0% 0}
        100% {background-position: -100% 0}
        }

        .parallaxTitlePane {
        z-index: 1000 !important;
        color: #D00000 !important;
        }

        /* SECOND TAB - Last edited 1/26/2021 */ 
        #animationInput {
        margin-left: -10vw !important;
        margin-top: -10vw !important;
        z-index: -1;
        }

        .tabimageSize {
        width: 120%;
        margin-bottom: 10%;
        margin-left: -10%;
        }

        /* VIEWPORT OPTIMIZATIONS -- 
        LAST EDITED 2/2/2021 */
        /*Cancel animations on mobile*/
 
        /* Samsung Galaxy S5 up to Iphone X */
        @media screen and (max-width: 1024px) {
                .Subtitle {
                        visibility: hidden;
                }

                #dice {
                visibility: hidden;
                }

                .navbarLogo {
                visibility: hidden;
                margin-left: -5vw;
                }

                .navbarDesign {
                height: 25vw !important;
                }

                .navbarItem {
                font-size: .2em;
                }

                .buccfrontpageLogo {
                width: 60vw;
                margin-bottom: 5vw;
                }

                .mainTitle {
                font-size: 1.5em !important;
                font-weight: 700;
                text-shadow: 0 1px 0 #c9cfce,0 1px 0 #bcc2c2,0 1.5px 0 #afb6b6,0 2px 0 #a4adac,0 2.5px 0 #9fa8a7,0 4px 0 #99a3a2,0 3.5px 0 #97a1a0,0 4px 0 #949e9d,0 0 2.5px rgba(0,0,0,.05),0 1px 1.5px rgba(0,0,0,.2),0 1.5px 2.5px rgba(0,0,0,.2),0 2.5px 5px rgba(0,0,0,.2),0 5px 5px rgba(0,0,0,.2),0 10px 10px rgba(0,0,0,.3);
                letter-spacing: 2px;
                margin-top: 10vw;
                }

                .Subtitle {
                margin-bottom: 10vw;
                margin-left: 0vw;
                margin-top: 5vw;
                }

                .mainMenuDownArrow {
                margin-top: 5vw !important;
                margin-left: -4vw !important;
                }

                .downArrow {
                width: 8vw;
                }

                .upArrow {
                width: 8vw;
                }

                .paneUpArrow {
                margin-top: -25% !important;
                margin-left: -3.5vw !important;
                }

                .paneArrowDown {
                margin-top: 5% !important;
                margin-left: -3.5vw !important;
                }

                .tabimageSize {
                width: 50%;
                margin-top: -5%;
                margin-bottom: 0%;
                margin-left: 0%;
                }

                h1 {
                font-size: 3em !important;
                }

                .contentSubtitleItalic {
                font-size: 2em !important;
                }

                #animationInput {
                margin-left: 0vw !important;
                margin-top: -35vw !important;
                }


        }      

a {
        text-decoration: none !important;
}